/* CSS file or style tag */

.montserrat-bold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 900; /* Example weight */
    font-style: normal;
  }
  
  .pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .delius-swash-caps-regular {
    font-family: "Delius Swash Caps", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .my-box-sizing {
    box-sizing: border-box;
}
.image-zoom {
    transition: transform 0.3s ease; /* Smooth zoom effect */
  }
  
  .image-zoom:hover {
    transform: scale(1.1); /* Zoom in on hover */
  }
  
  