@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Arial', sans-serif; /* Customize as per your design */
    line-height: 1.6;
    background-color: #f8f9fa; /* Neutral background */
    color: #333; /* Default text color */
  }
  
  /* Remove list styles */
  ul, ol {
    list-style: none;
  }
  
  /* Remove anchor underline */
  a {
    text-decoration: none;
    color: inherit;
  }
  